@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    background-color: gray;
    padding: 40px 100px;
    color: #F5FBEF;
    background: linear-gradient(to bottom,
        #3B9E9D 0%, #48A3B8 25%,
        #54A7D1 75%, #63ADF2 100%);
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-info {
    width: 500px;
    text-shadow: 4px 1px 5px #00000028;
}

.header-info h1 {
    margin-top: 60px;
    margin-bottom: 25px;
    font-size: 2rem;
}

.header-info h2 {
    font-weight: normal;
    font-size: 1.25rem;
}

#logo {
    width: 223px;
    height: 54px;
}

#img-illustration {
    width: 375px;
    height: 278px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.converter-box {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: #F5FBEF;
    box-shadow: 0px 20px 60px 20px rgba(0, 0, 0, 0.075);
    border: 1px solid #ddd;
    width: 750px;
    max-width: 750px;
    height: 500px;
    border-radius: 30px;
    margin-top: -50px;
}

.convert-from, .convert-to {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 20px;
}

#from-value, #to-value {
    width: 250px;
    height: 80px;
    font-size: 4rem;
    font-weight: 500;
    margin-right: 20px;
    border: none;
    outline: none;
    color: #8E8E8E;
}

#from-value::-webkit-inner-spin-button,
#from-value::-webkit-outer-spin-button,
#to-value::-webkit-inner-spin-button,
#to-value::-webkit-outer-spin-button {
    appearance: none;
}


#from-select, #to-select {
    width: 300px;
    height: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
}

#convert-arrow {
    width: 80px;
    height: 80px;
    margin: 10px 0px 10px 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2532;
    color: #F5FBEF;
    height: 50px;
}

footer a {
    margin-top: 5px;
    margin-left: 10px;
}

